{% extends 'base.html' %}

{% block head %}
<title>Start</title>
<style>
    h3{
        text-align: center;
        margin-top: 60px;
    }
    #raspuns{
        margin-top: 100px;
    }
    button{
        margin-top: 15px;
    }
    #pb{
        margin-top: 30px;;
    }
</style>
{% endblock %}

{% block body %}
<h3>Introdu codul de 2 cifre:</h3>
<form action="" method="POST">
    <div class="row">
        <div id="div" class="col text-center">
            <input type="text" name="raspuns" id="raspuns">
            <br>
            <button type="button" class="btn btn-outline-success btn-lg " id="btn">Trimite</button>
        </div>
    </div>
    
</form>

<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='index.js')}}"></script>
{% endblock %}