{% extends 'base.html' %}

{% block head %}
<title>Start</title>
<style>
    h1{
        text-align: center;
        font-size: 80px;
        margin-top: 60px;
    }
    #raspuns{
        margin-top: 100px;
    }
    button{
        margin-top: 15px;
    }
</style>
{% endblock %}

{% block body %}
<h1>Introdu codul de 2 cifre:</h1>
<form action="" method="POST">
    <div class="row">
        <div class="col text-center">
            <input type="text" name="raspuns" id="raspuns">
            <br>
            <button type="button" class="btn btn-outline-success btn-lg " id="btn">Trimite</button>
        </div>
    </div>
    
</form>

<script src="{{url_for('static', filename='index.js')}}"></script>
{% endblock %}